/* Estilos del Contenedor Principal (Por defecto, apilados en columna) */
.contenedor-tarjetas {
    width: fit-content;
  display: flex;
  flex-direction: row; /* Apilamiento vertical (Columna) para dispositivos pequeños */
  gap: 20px; /* Espacio entre las tarjetas */
  padding: 20px;
}

/* Estilos de las Tarjetas */
.tarjeta {
  /* Ocupa todo el ancho disponible del contenedor en vista móvil */
  width: 100%;
  padding: 15px;
  border: 1px solid #d42828;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(49, 46, 46, 0.1);
  background-color: #f9f9f9;
}

.tarjeta h3 {
  color: #000000;
  margin-top: 0;
}
@media screen and (max-width: 700px) {
 .contenedor-tarjetas {
    width: fit-content;
  display: flex;
  flex-direction: column; /* Apilamiento vertical (Columna) para dispositivos pequeños */
  gap: 20px; /* Espacio entre las tarjetas */
  padding: 20px;
}
}
