.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c41111;
    color: #000000;
    width: 100%;
    font-size: 1.3rem;
}

.form_container form {
    display: flex;
    width: 100%;
    flex-direction: row;
}

@media screen and (max-width: 720px) {
    .form_container {
        min-height: 60dvh;
        margin: auto;
    }
    .form_container form {
        display: flex;
        margin: auto;
        width: 100%;
        flex-direction: column;
    }

    div.campo-grupo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.campo-grupo button {
        width: 200px;
        height: 50px;
        background-color: rgb(198, 19, 120);
        margin: 6px;
    }
}